* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #B5962B;
    color: #f8fafc;
    background-image: url('../img/background.svg'); 
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: left center; 
}

/* Header */
header {
    background-color: transparent;
    padding: 10px 15px;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
}

/* Logo container */
.logo {
    display: flex;
    align-items: center;
}

/* Rectangle logo */
header .rectangle-logo {
    width: 80px;
    height: 50px;
    background-color: #CAC2AF;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

header .rectangle-score-player {
    width: 120px;
    height: 50px;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font: lora;
    margin-right: 5px; 
}

header .rectangle-logo img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}

/* Settings icon */
.settings-icon {
    width: 48px;
    height: 48px;
    color: #81141B;
    cursor: pointer;
    padding: 10px;
    border: 3px solid #81141B;
    border-radius: 50%;
    transition: transform 0.2s, background-color 0.2s;
    background-color: transparent;
    z-index: 4;
}

.settings-icon:hover {
    transform: rotate(20deg);
    opacity: 0.8;
}

/* Main content */
main {
    flex: 1;
    display: flex;              /* jadikan flexbox */
    justify-content: center;    /* center horizontal */
    align-items: center;        /* center vertical */
    padding: 30px 10px;
    text-align: center;
}

/* Table image */
.table-img {
    width: 100%;     /* kecilkan ukuran (misal 60% dari lebar main) */
    max-width: 45%; /* biar nggak terlalu besar di layar lebar */
    height: auto;
}


/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: transparent;
}